@page
@model WebApp_RazorPages_.NetCore8.Pages.Clients.DeleteModel


<form method="post">
	<input hidden asp-for="Client.Id" />

	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary pl-3">Delete Client</h2>
			<hr />
		</div>
		@* 		<div asp-validation-summary="All"></div>
		 *@ @* show all error validation *@


		<div class="mb-3">
			<label asp-for="Client.Name"></label>
			<input asp-for="Client.Name" class="form-control" />
			<span asp-validation-for="Client.Name" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Client.Address"></label>
			<input asp-for="Client.Address" class="form-control" />
			<span asp-validation-for="Client.Address" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Client.PhoneNumber"></label>
			<input asp-for="Client.PhoneNumber" class="form-control" />
			<span asp-validation-for="Client.PhoneNumber" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Client.Email"></label>
			<input asp-for="Client.Email" class="form-control" />
			<span asp-validation-for="Client.Email" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Client.Order"></label>
			<input asp-for="Client.Order" class="form-control" />
			<span asp-validation-for="Client.Order" class="text-danger"></span>
		</div>



		<button type="submit" class="btn btn-danger" style="width:150px;">Delete</button>
		<a asp-page="Index" class="btn btn-secondary" style="width:150px;"> Back to List</a>

	</div>

</form>

@section Scripts {
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}